@model WebApi.Entities.User

@{
    ViewBag.Title = "Aquatics";
}
<h2>Aquatics DB</h2>

<div>
    <h4>Aquatics</h4>
    <h6>Welcome @Html.DisplayNameFor(User => User.FirstName)</h6>
    <dl class="dl-horizontal">
@*         <dt>
            @Html.DisplayNameFor(Sound => Sound.Name)
        </dt>
        <dt>@Html.DisplayNameFor(Sound => Sound.Width )</dt>
        <dt>@Html.DisplayNameFor(Sound => Sound.Depth )</dt>
        <dt>@Html.DisplayNameFor(Sound => Sound.Biome )</dt> *@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
